*{
    margin: 0;
    padding 0;
}
body{
    border: 3px solid rgb(170, 213, 118);
    background-color: rgb(4, 10, 0);
    box-sizing: border-box;
    color: rgb(186, 230, 133);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
}
h2{
    padding-top: 50px;
    padding-bottom: 20px;
}
header{
    /* border: 2px solid black; */
    position: relative;
    text-align: center;
}
header h1{
    padding: 40px;
}
header p{
    padding-bottom: 40px;
    font-size: 30px;
    color: rgb(131, 197, 190);
}
nav{
    /* border: 2px solid black; */
    color: rgb(131, 197, 190);
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 10px 30px;
    /* position: relative; */
}
.menuList{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 30px;
}
#reducedMenu{
  display: none;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  color: black;
}
@media(max-width:768px){
    #reducedMenu{
    display: block;
    color: rgb(131, 197, 190);
    }
    .menuList{
    position: absolute;
    top: 20px;
    right: 20px;
    gap: 10px;
    background: rgb(170, 213, 118);
    color: rgb(11, 29, 1);
    flex-direction: column;
    display: none;
    }
    .menuList.ativa{
    display: flex;
    }
}
main{
    /* border: 2px solid black; */
    background-color: rgb(26, 67, 1);
}
section{
    /* border: 2px solid black; */
    padding: 5px;
}
a {
  color: inherit;
  text-decoration: none;
}
#sobremim{
    background: rgb(11, 29, 1);
    color: rgb(4, 10, 0);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 10px;
}
#sobreFormacao{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 10px;
    color: rgb(4, 10, 0);
}
#sobreProjetos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 10px;
    color: rgb(4, 10, 0);
}
.sobreBox{
    border: 3px solid rgb(131, 197, 190);
    border-radius: 20px;
    background: rgb(170, 213, 118);
    margin: 20px;
    padding: 30px;
    text-align: left;
}
.formBox{
    border: 3px solid rgb(131, 197, 190);
    border-radius: 20px;
    background: rgb(170, 213, 118);
    color: rgb(11, 29, 1);
    margin: 20px;
    padding: 20px;
    text-align: left;
}
.projBox{
    border: 3px solid rgb(131, 197, 190);
    border-radius: 20px;
    background-color: rgb(11, 29, 1);
    color: rgb(186, 230, 133);
    margin: 20px;
    padding: 10px;
    height: 8em;
    text-align: center;
    align-content: center;
    cursor: pointer;
}
ul{
    list-style: none;
    list-style-type: square;
}
h2{
    justify-self: center;
}
h4{
    justify-self: center;
}
#projetos{
    background-color: rgb(26, 67, 1);
}
/* #box1{
    background-image: url("ilustracao-de-checklist-em-uma-prancheta_1308-181858.avif");
    background-repeat: no-repeat;
    background-size:100%;
}
#box2{
    background-image: url("14174600-imprimir-amostras-de-cores-pantone-gratis-foto.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#box3{
    background-image: url("cronometrador-de-cronometro-cor-vermelha_78370-8122.avif");
    background-repeat: no-repeat;
    background-size: 100%;
}
#box4{
    background-image: url("colorful-cartoon-calculator-illustration_1308-174688.avif");
    background-repeat: no-repeat;
    background-size: 100%;
} */
#contato{
    background-color: rgb(11, 29, 1);    
}
.lista-contatos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.redes-sociais{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contatoBox{
    border: 3px solid rgb(131, 197, 190);
    border-radius: 20px;
    margin: 20px;
    text-align: center;
    padding: 20px;
    cursor: pointer;
}
footer{
    /* border: 2px solid black; */
    padding: 20px;
    background-color: rgb(4, 10, 0);
    color: rgb(131, 197, 190);
    text-align: center;
}