body{
    border: 3px solid black;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
}
header{
    border: 2px solid black;
    border-radius: 3px;
    padding: 20px;
    font-size: 40px;
    font-weight: bold;
    position: relative;
    text-align: center;
    /*justify-self: center;*/
    /*display: flex;
    flex: column;
    align-items: center;
    justify-content: space-between;*/
}
nav{
    border: 2px solid black;
    border-radius: 3px;
    padding: 5px;
}
main{
    border: 2px solid black;
    border-radius: 3px;
    padding: 5px;
    background-color: lightgray;
}
section{
    border: 2px solid black;
    border-radius: 3px;
    padding: 5px;
}
#sobremim{
    background: gray;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 10px;
}
#sobreFormacao{
    background: blue;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 10px;
}
.sobreBox{
    border: 2px solid black;
    border-radius: 10px;
    background: yellow;
    margin: 20px;
    padding: 30px;
    text-align: justify;
}
.formBox{
    border: 2px solid black;
    border-radius: 10px;
    background: lightblue;
    margin: 20px;
    padding: 20px;
    text-align: justify;
}
ul{
    list-style: none;
    list-style-type: square;
}
h2{
    justify-self: center;
}
h4{
    justify-self: center;
}
#sobreProjetos{
    background: red;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 10px;
}
.projBox{
    border: 2px solid black;
    border-radius: 10px;
    background: green;
    margin: 20px;
    padding: 10px;
    height: 5em;
}
/* #box2{
    background-image: src('./14174600-imprimir-amostras-de-cores-pantone-gratis-foto')
} */
.lista-contatos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.redes-sociais{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contatoBox{
    border: 2px solid black;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
    padding: 20px;
    cursor: pointer;
}
footer{
    /* margin: 5px; */
    border: 2px solid black;
    border-radius: 3px;
    padding: 5px;
    /* height: 40px; */
    background-color: lightpink;
    text-align: center;
    /* align-content: center; */
}